.search-container {
  background-color: rgba(0, 0, 0, 0.918);
  text-align: center;
  line-height: 40px;
}
.search-container input {
  width: 75%;
  line-height: 20px;
}
.shop-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding-left: 40px;
}
.product-container {
  /* padding-right: 50px; */
  border-right: 1px solid lightgray;
}
