.product {
  display: flex;
  border-bottom: 1px solid lightgray;
}
.product-details {
  text-align: justify;
}
.product-details h5 {
  color: blue;
  /* padding-left: 10px; */
}

.product-details button {
  background-color: goldenrod;
  border-radius: 5px;
  width: 120px;
  cursor: pointer;
  height: 30px;
}
