.header img {
  width: 200px;
}
.header nav {
  background-color: black;
  line-height: 30px;
}
.header nav a {
  color: white;
  text-decoration: none;
  font-size: 22px;
  margin-right: 40px;
  cursor: pointer;
  /* align-items: center; */
}
.header nav a:hover {
  background-color: lightgray;
}
